.cardContainer {
  border: 2px solid lightgray;
  padding-top: 10px;
}

.imageContainer {
  overflow: hidden;
}

.imageContainer div {
  min-width: 100%;
}

.image {
  object-fit: cover;
  transform: scale(1.2);
}
